<html >
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage2.css') }}">

  <title>Dictionary</title>  
</head>

<body>
	<h1>Dictionary of Terms &#127806&#129530;</h1>
  <main>  
    <p> Mean Temp (°C): Average temperature over a specified month and year.</p>
    <p> Temp Range (°C): The difference between maximum temperature and minimum temperature for a specified month.</p>
    <p> Heat Deg Days (°C): Heating Degree Day values averaged over a specified month and year. Heating Degree Day is a measurement that quantifies the demand for energy needed to heat a building.</p>
    <p> Total Precip (mm): Total precipitation that occurs over a specified month and year.</p>
    <p> Growing Degree Days: The accumulation of average daily temperatures. The measure of heat accumulation is used to predict plant development rates.</p>
     
  </main>
 <br>
	
	
    <form action="{{ url_for('feature_definitions')}}"method="post">
        <button type="submit">Go to Model</button>
    </form>
	
</body>

</html>
	
